<html>
 <head>
	<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>COMP70085 CW2</title>
    	<style>
        	body {
		    font-family: Arial, sans-serif;
		    text-align: center;
		    margin-top: 50px;
		}
    	</style>
 </head>
 <body>
	<h1>Hello {{ name }}!</h1>
	<p>Name: {{ name }}</p>
	<p>Age: {{ age }}</p>
	<p>Gender: {{ gender }}</p>
	<p>Happiness Index: {{ happy }}</p>
	<p>Since you're already happy, I'll save my joke for another day!</p>
 </body>
</html>

