<html>
 <head>
	<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>COMP70085 CW2</title>
    	<style>
        	body {
		    font-family: Arial, sans-serif;
		    text-align: center;
		    margin-top: 50px;
		}
    	</style>
        <!-- <script>
            function toggleAnswer(){
                const answerElement=document.getElementByID('answer');
                if (answerElement.style.display==='none'){
                    answerElement.style.display='block';
                } else {
                    answerElement.style.display='none';
                }
            }
        </script> -->
 </head>
 <body>
	<h1>Hello {{ name }}!</h1>
	<p>Name: {{ name }}</p>
	<p>Age: {{ age }}</p>
	<p>Gender: {{ gender }}</p>
	<p>Happiness Index: {{ happy }}</p>
    <h3>Here's something to cheer you up!</h3>
    <img src="../static/penguin.jpg" alt="Happy Feet" width="500">
	<p>What is the difference between in-laws and outlaws?</p>
    <button onclick="toggleAnswer()">Show Answer</button>
    <p id="answer"></p>

    <script>
        function toggleAnswer() {
          document.getElementById("answer").innerHTML = "Outlaws are wanted!";
        }
    </script>
        
    <br>
    <p>Hope that made you laugh!</p>
 </body>
</html>

