<html>
 <head>
	<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>COMP70085 CW2</title>
    	<style>
        	body {
		    font-family: Arial, sans-serif;
		    text-align: center;
		    margin-top: 50px;
		}
        .button {
            padding: 10px 20px;
            background-color: #04AA6D;
            color: white;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            font-size: 16px;
            cursor: pointer;
        }
        .button:hover {
            background-color: #04AA6D;
        }
    	</style>
 </head>
 <body>
	<h1>Hello {{ name }}!</h1>
	<p>Name: {{ name }}</p>
	<p>Age: {{ age }}</p>
	<p>Gender: {{ gender }}</p>
	<p>Happiness Index: {{ happy }}</p><br><br><br>
    <h3>Here's something to cheer you up!</h3>
    <img src="../static/penguin.jpg" alt="Happy Feet" width="500">
	<p>What is the difference between in-laws and outlaws?</p>
    <button onclick="toggleAnswer()">Show Answer</button>
    <p id="answer"></p>

    <script>
        function toggleAnswer() {
          document.getElementById("answer").innerHTML = "Outlaws are wanted! <br><br> Hope that made you laugh!";
        }
    </script>

    <br><br>
    <a href="/" class="button">Back to Home</a>
        
 </body>
</html>

